@use '../../styles/utils.scss';

.text-log {
  display: grid;
  grid-template-columns: 240px 110px 160px 180px 180px;

  @include utils.sp {
    grid-template-columns: 1fr 1fr;
    padding: 4px;
    border: 1px solid #4676D7;
  }

  >.text {
    padding: 4px 8px;
    background-color: #4676D7;
    color: white;
    font-size: 16px;
    text-align: center;
    border: 1px solid white;
  }
}